<html lang="en">
  <head>
    <title>Unity Version Booter</title>
    <link rel="stylesheet" href="./css/photon.min.css">
  </head>
  <body>
    <div class="window">
        <div class="window-content">
          <ul class="list-group">
            <% for (let i = 0; i < versions.ordered.length; i++) {%>
              <li class ="list-group-item">
                  
                  <button id="<%= versions.ordered[i] %>" class="btn btn-positive">
                      <%= versions.ordered[i] %>
                  </button>
                  <div class="btn-group">
                    <% if (versions.targets[versions.ordered[i]].targets != null) { %>
                      <% for (let j = 0; j < versions.targets[versions.ordered[i]].targets.length; j++) {%>
                        <button>
                          <img src="./icons/<%= versions.targets[versions.ordered[i]].targets[j] %>.png">
                        </button>
                      <% } %>
                    <% } %>
                  </div>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
      <script>
        var electron = require('electron');
        var loadUnity = electron.remote.require('./main').loadUnity;

        var btns = document.getElementsByClassName('btn-default');
        for (let i = 0; i < btns.length; i++) {
          btns[i].addEventListener('click', () => {
            loadUnity(btns[i].id);
          })
        }
      </script>
  </body>
</html>