<html lang="en">
    <head>
      <title>Unity Version Booter</title>
      <link rel="stylesheet" href="./css/photon.min.css">
      <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="window">
                <header class="toolbar toolbar-header">
                        <div class="toolbar-actions">
                          <div class="btn-group">
                            <button class="btn btn-default" onclick="navVersions()">
                                Unity Versions
                              <!-- <span class="icon icon-home"></span> -->
                            </button>
                            <button class="btn btn-default">
                                Projects
                              <!-- <span class="icon icon-folder"></span> -->
                            </button>
                            <button class="btn btn-default">
                              <span class="icon icon-cloud"></span>
                            </button>
                          </div>
                        </div>
                      </header>
            <div class="window-content">
                <div id="errorModal" class="modal">
                      <!-- Modal content -->
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <strong>An error has occured when loading Unity</strong>
                  </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-header">
                      <input class="form-control" type="text" placeholder="Search for a project">
                    </li>
                    <% for (let i = 0; i < projects.length; i++) { %>
                      <li class="list-group-item">
                        <div class="media-body">
                          <strong><%= projects[i].name %></strong>
                          <p><%= projects[i].version %>
                           <button id="<%= projects[i].version %>" path="<%= projects[i].path %>" class="btn btn-default btn-project pull-right">
                            <span class="icon icon-play"></span>
                          </button>
                        </p>
                        </div>
                      </li>
                      <% } %>
                  </ul>
            </div>
        </div>
        <script>
          let electron = require('electron');
          let loadUnity = electron.remote.require('./main').loadUnity;

          let btns = document.getElementsByClassName('btn-project');
          for (let i = 0; i < btns.length; i++) {
            btns[i].addEventListener('click', () => {
              if (!loadUnity(btns[i].id, null, btns[i].getAttribute('path'))) {
                let modal = document.getElementById('errorModal');
                modal.style.display = "block";
              }
            })
          }

          let modal = document.getElementById('errorModal');
          let span = document.getElementsByClassName('close')[0];
          span.onclick = () => {
            modal.style.display = 'none';
          }

          function navVersions() {
            let electron = require('electron');
            let navigateVersions = electron.remote.require('./main').navigateVersions;
            navigateVersions();
          }
        </script>
    </body>
</html>