<html lang="en">
    <head>
      <title>Unity Version Booter</title>
      <link rel="stylesheet" href="./css/photon.min.css">
      <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
      <div class="window">
        <header class="toolbar toolbar-header">
          <div class="toolbar-actions">
            <div class="btn-group">
              <button id="navVersions" class="btn btn-default" onclick="navigate(this)">
                  Unity Versions
              </button>
              <button id="navProjects" class="btn btn-default" onclick="navigate(this)">
                  Projects
              </button>
              <button class="btn btn-default">
                <span class="icon icon-cloud"></span>
              </button>
            </div>
            <button class="btn btn-default pull-right" onclick="loadSettings()">
              <span class="icon icon-cog"></span>
            </button>
            <button class="btn btn-default pull-right" onclick="refresh(this)">
                <span class="icon icon-cw"></span>
            </button>
          </div>
        </header>
          <div class="window-content">
            <div id="settingsModal" class="modal">
              <div class="modal-content">
                <div class="modal-header">
                  <strong>Select config path</strong>
                  <span class="close icon icon-cancel icon-large pull-right"></span>
                </div>
                <div class="modal-body">
                  <div id="versionSettings" class="form-group" onclick="changeSettings(this)">
                    <span>Unity Path:</span>
                    <input id="versionSettingInput" type="text" class="form-control" value="<%= config.unitypath %>" disabled>
                  </div>
                  <div id="projectSettings" class="form-group" onclick="changeSettings(this)">
                    <span>Projects Path:</span>
                    <input id="projectSettingsInput" type="text" class="form-control" value="<%= config.projectspath %>" disabled>
                  </div>
                  <div id="projectsDepth" class="form-group">
                      <span>Project Search Depth:</span>
                      <input id="projectDepthInput" type="text" class="" value="<%=config.maxDepth %>">
                        <button onclick="saveSettings()" class="btn btn-default pull-right">
                            Save
                        </button>
                  </div>
                
                </div>
              </div>
            </div>
            <div id="errorModal" class="modal">
                <!-- Modal content -->
              <div class="modal-content">
                <span class="close icon icon-cancel icon-large pull-right"></span>
                <strong>An error has occured when loading Unity</strong>
              </div>
            </div>
            <div id="changeable">
            </div>
        </div>
        <script>
            let currentPage;
            let electron = require('electron');
            electron.ipcRenderer.on('navigation', (event, html, dest) => {
                document.getElementById('changeable').innerHTML = html;
                currentPage = dest;
            })

            electron.ipcRenderer.on('path', (event, config) => {
                document.getElementById('versionSettingInput').setAttribute('value', config.unitypath)
                document.getElementById('projectSettingsInput').setAttribute('value', config.projectspath)
                
            })
            electron.ipcRenderer.send('navigation', 'projects');

            function navigate(e) {
                if (e.id == 'navVersions') {
                    electron.ipcRenderer.send('navigation', 'versions');
                } else if (e.id == 'navProjects') {
                    electron.ipcRenderer.send('navigation', 'projects');
                }
            }


            function loadUnity(e) {
                let loadUnity = electron.remote.require('./main').loadUnity;
                if(!loadUnity(e.id, e.getAttribute('target'), e.getAttribute('path'))) {
                    let modal = document.getElementById('errorModal');
                    modal.style.display = "block";
                }
            }

            let modal = document.getElementById('errorModal');
            let span = document.getElementsByClassName('close')[1];
            span.onclick = () => {
            modal.style.display = 'none';
            }

            function loadSettings() {
                let modal = document.getElementById("settingsModal");
                modal.style.display= "block";
                span = document.getElementsByClassName("close")[0];
                span.onclick = () => {
                    modal.style.display = "none";
                }
            }

            function changeSettings(e) {
                let changeSettings = electron.remote.require('./main').changeSettings;
                changeSettings(e.id, true);
            }

            function saveSettings() {
                let depth = document.getElementById('projectDepthInput').value;
                let changeDepth = electron.remote.require('./main').changeDepth;
                changeDepth(depth);
            }

            function setActive(e) {
                let li = document.getElementsByClassName('active')[0];
                if (li) {
                    li.classList.remove('active');
                }
                e.classList.add('active');
            }

            function search(e) {
                let filter = e.value;
                let lists = document.getElementsByClassName('searchable')
                for (let i = 0; i < lists.length; i++) {
                    let children = false;
                    let li = lists[i].getElementsByClassName('loadable');
                    for (let j = 0; j < li.length; j++) {
                        let text = li[j].getElementsByTagName('strong')[0];
                        if (text) {
                            if (text.textContent.indexOf(filter) > -1) {
                                li[j].style.display = "";
                                children = true;
                            } else {
                                li[j].style.display = "none";
                            }
                        }
                    }
                    if (children && !lists[i].firstElementChild.classList.contains('loadable')) {
                        lists[i].firstElementChild.style.display = "";
                    } else {
                        lists[i].firstElementChild.style.display = "none";
                    }
                }
            }

            function refresh(e) {
                if (document.getElementById('navVersions')) {
                    electron.ipcRenderer.send('refresh', currentPage);
                }
            }
            const {remote} = require('electron')
            const {Menu, MenuItem} = remote
            const menu = new Menu()
            menu.append(new MenuItem({label: 'Show in Finder', click() {showInFinder()}}))

            function rightClickContextMenu(e) {
                setActive(e)
                menu.popup(remote.getCurrentWindow())
            }

            function showInFinder() {
                let li = document.getElementsByClassName('active')[0];
                let loadFinder = electron.remote.require('./main').loadFinder;
                let button = li.getElementsByTagName('Button')[0];
                loadFinder(button.getAttribute('path'), button.id);
            }
        </script>
    </body>
</html>