    <ul class="list-group">
      <li class="list-group-header">
        <input class="form-control" type="text" placeholder="Search for a project" onkeyup="search(this)">
      </li>
      <% for (let i = 0; i < data.versions.length; i++) { %>
        <div class="searchable">
        <li class="list-group-item background-gray">
          <h5>
            <%= data.versions[i] %>
          </h5>
        </li>
        <% for (let j = 0; j < data.projects[data.versions[i]].length; j++ ) { %>
          <li class="list-group-item loadable" onclick="setActive(this)", oncontextmenu="rightClickContextMenu(this)">
          <div class="media-body">
            <strong><%= data.projects[data.versions[i]][j].name %></strong>
              <button id="<%= data.versions[i] %>" path="<%= data.projects[data.versions[i]][j].path %>" class="btn btn-default btn-project pull-right" onclick="loadUnity(this)">
                <span class="icon icon-play"></span>
              </button>
          </div>
        </li>
        <% } %>
      </div>
      <% } %>
    </ul>
  </div>
</div>

